@model TechTest01.Domain.Catalog.Product

@{ ViewBag.Title = "Home"; }


<div class="container-fluid" style="height:80%;background-color:antiquewhite;width:100%">
    <h1 class="display-1" style="margin-bottom:20px">Online Store</h1>
    <div class="container-fluid" style="height:100vh">
        <div class="row" style="text-align:center">
            @foreach (TechTest01.Domain.Catalog.Product str in ViewBag.index)
            {
<div class="col-lg-6">
    <a href='@Url.Action("Product", "Product", new { id = str.Slug},null)'>
        <img class="img-fluid" src=@str.ImageUrl style="width:80%;height:80%;object-fit:contain;border:solid" />
    </a>
</div>            }
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("Index", "Product")'">All Products</button>
</div>




