
@{ ViewBag.Title = "Index"; }
@using TechTest01.Domain.Catalog;

<h1 class="display-1" style="margin-bottom:20px">Products List</h1>
<div class="container" style="display:flex;justify-content:center">
    <ol class="list-group" style="width:80%">
        @foreach (Product str in ViewBag.all)
        {
<a href='@Url.Action("Product", "Product", new { id = str.Slug})'>
    <li class="list-group-item">
        <table style="width:80%">
            <tr>
                <td style="width:50%">
                    <h2 class="h2">@str.Name</h2>

                </td>
                <td>
                    <img src=@str.ImageUrl style="width:300px;height:auto" />
                </td>
            </tr>
        </table>
    </li>
</a>}
    </ol>
</div>

<button style="align-content:center" type="button" onclick="location.href='@Url.Action("Index", "Home")'">Back to Home</button>



