
@{ ViewBag.Title = "Index"; }
@using TechTest01.Domain.Catalog;

<h2>Products List</h2>

<ol>
    @foreach (Product str in ViewBag.all)
    {

<li>
    <table>
        <tr>
            <td>
                @Html.ActionLink(str.Name, "Product", new { id = str.Slug });
            </td>
        </tr>
        <tr>
            <td>
                <img src=@str.ImageUrl width="100" height="100" />

            </td>
        </tr>
    </table>
</li>}
</ol>

@Html.ActionLink("Back to Home", "Index", "Home");




